{% extends "CatalanSentimentAnalysis/base.html" %}
{% load staticfiles %}

{% block content %}

<div id="h">
  <div class="logo">CATALAN FEELING ANALYSIS</div>
  <!--
  <div class="social">
    <a href="#" style="top: 30px; left: 45px; font-size: 18px; font-weight: 900;">API</a>
  </div>
  -->
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 centered">
        <h1>Benvingut al classificador de sentiments de Tweets en Català!</h1>
        <div class="mtb">
          <form method="post" enctype="multipart/form-data" action="" role="form">
            {% csrf_token %}
            {% for field in form %}
            <div id="{{ field.auto_id }}_container" style="color: #5d5b5a;">
              {{ field.help_text }}
              <div>
                {{ field }}
              </div>
              <div id="{{ field.auto_id }}_errors">
                {{ field.errors }}
              </div>
            </div>
            {% endfor %}
            <input class='btn btn-conf btn-green' type="submit" value="Classifica!"/>
          </form>
        </div><!--/mt-->
      </div>
    </div><!--/row-->
  </div><!--/container-->
</div><!-- /H -->

<div class="container ptb">
  <div class="row centered">
    <h2 class="mb">10 últims Tweets classificats:</h2>
    <div class="col-md-1">
    </div><!--/col-md-4-->

     <div class="col-md-10">
      <div class="price-table">
          <div class="p-head">
            Tweet
          </div>
          <div class="p-body">
            <ul class="features">
              {% for tweet in tweets %}
                  <li>
                    {{ tweet.tweet }}
                    <br/>
                    <p style="margin-bottom:0px; font-size: 10px; line-height: 5px;">
                      {% if tweet.polarity > 0 %}
                        Positiu
                      {% else %}
                        Negatiu
                      {% endif %}
                    </p>
                  </li>
              {% empty %}<li>Encara no hi han tweets registrats.</li>
              {% endfor %}
            </ul>
          </div><!--/p-body-->
      </div><!--/price-table-->
    </div><!--/col-md-4-->

   <div class="col-md-1">
   </div><!--/col-md-4-->
  </div><!--/row-->
</div><!--/container-->

<div id="f">
  <div class="container">
    <div class="social" style="top: 30px; left: 45px; font-size: 18px; font-weight: 900;">API</div>
    <h5>GET .../catalan/api/</h5>
    <h5>POST .../catalan/api/ tweet=TWEET</h5>
    <div class="row centered">
      <h2>Contacte</h2>
      <h5>blabla@udl.cat</h5>

      <p class="mt">
        <a href="#"><i class="ion-social-twitter"></i></a>
        <a href="#"><i class="ion-social-dribbble"></i></a>
        <a href="#"><i class="ion-social-instagram"></i></a>
        <a href="#"><i class="ion-social-facebook"></i></a>
        <a href="#"><i class="ion-social-pinterest"></i></a>
        <a href="#"><i class="ion-social-tumblr"></i></a>
      </p>
    </div><!--/row-->
  </div><!--/container-->
</div><!--/F-->

{% endblock %}
