{% extends "CatalanSentimentAnalysis/base.html" %}
{% load staticfiles %}

{% block content %}

    <form method="post" enctype="multipart/form-data" action="">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <input type="submit" value="Submit"/>
    </form>

    <br />

    <h1> Last 10 Tweets: </h1>
    <ul>
        {% for tweet in tweets %}
            <li>{{ tweet.tweet }}</li>
        {% empty %}<li>Sorry, no tweets registered yet.</li>
        {% endfor %}
    </ul>

{% endblock %}
